#!/bin/sh

NEIGHBOUR_PATH={{ neighbour | shell }}
ETH={{ eth | shell }}

# handle interface and action
[ "$1" = 'wg0' ] || exit 0
case "$2" in up) action='replace';; down) action='delete';; *) exit 0;; esac

# add or remove neighbour entry for all peers with IPv6 addresses
while read -r addr; do
  ip -6 neighbour "$action" proxy "$addr" dev "$ETH"
done < "$NEIGHBOUR_PATH"
